NEXT_PUBLIC_SUPABASE_URL="xxxxxxx"
NEXT_PUBLIC_SUPABASE_ANON_KEY="xxxxxxx"
NEXT_PUBLIC_SITE_URL="admin.lvlx.org"
DIRECT_URL="xxxxxxxxxx"
#DATABASE_URL="xxxxxxxxxxxx"
DATABASE_URL="xxxxxxxxxxxx0"
SMTP_HOST="mail.abcdef.co.za"
SMTP_USER="enquiries@abcdef.co.za"
SMTP_PASS="pass12345667example"

NEXT_PUBLIC_VIDEO_API_KEY="abcderf1234567890example"
VIDEOSDK_TOKEN="abcderf1234567890exampletoken"

TRIGGER_API_URL="https://api.trigger.dev"
TRIGGER_PROJECT_ID="lvlx-or5u"



PAYFAST_RECEIVER_ID="10760505"
PAYFAST_PROCESS_URL="https://www.payfast.co.za/eng/process"

node_version="20"
